<section class="section-2" id="aboutUs">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center">About Us</h1>
                <p class="text-center mt-2" style="font-size: 1.6rem;">grow your business with us</p>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <figure>
                            <img src="images/bg2.jpg" class="img-fluid" alt="">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 my-auto ">
                        <h1 class="heading">We Are The Team Of <br><span>Professional Developers</span></h1>
                        <p class="mb-4 mt-2">Welcome to <strong>groWwBusiness</strong>. The public is more familiar
                            with bad design than good design. It is, in effect, conditioned to prefer bad design,
                            because that is what it lives with. The new becomes threatening, the old reassuring.</p>
                        <button class="btn btn-danger px-4 py-2" style="font-size: 1.2rem;">READ MORE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>